[type] <scope>: [subject]

#<body>

#<foot>

# 使用 [] 的内容为必填，使用 <> 的内容为选填。

# type 字段包含:
#   - feat：新功能
#   - fix：修复缺陷
#   - doc：新增/修改 文档
#   - style：修改格式（例如标点符号的修改，换行等等）
#   - refactor：重构（即不是新增功能，也不是修复缺陷的代码改动）
#   - test：增加测试
#   - chore：构建过程或辅助工具的变动
# scope：用于说明提交影响的范围，比如数据层、控制层、视图层等等。
# subject：提交的简短描述，不超过50个字符。

# body：提交的详细描述，可以分成多行。

# foot：用来关闭问题等附加信息。
